<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Customer drinks</h1>
    <form action="/orders" method="post">
        <input type="text" name="name">

        <input type="text" name="drink">

        <select name="size" id="">
            <option value="">--size--</option>
            <option value="SMALL">Small</option>
            <option value="MEDIUM">Medium</option>
            <option value="LARGE">Large</option>
        </select>

        <div>
            <div>
                <input type="checkbox" value="Hazelnut" name="flavors" id="hazelnut">
                <label for="hazelnut">Hazelnut</label>
            </div>
            <div>
                <input type="checkbox" value="French Vanilla" name="flavors" id="frenchVanilla">
                <label for="frenchVanilla">French Vanilla</label>
            </div>
            <div>
                <input type="checkbox" value="Caramel" name="flavors" id="caramel">
                <label for="caramel">Caramel</label>
            </div>
            <div>
                <input type="checkbox" value="Mocha" name="flavors" id="mocha">
                <label for="mocha">Mocha</label>
            </div>
            <div>
                <input type="checkbox" value="Brown Sugar" name="flavors" id="brownSugar">
                <label for="brownSugar">Brown Sugar</label>
            </div>
            <div>
                <input type="checkbox" value="Toasted Vanilla" name="flavors" id="toastedVanilla">
                <label for="toastedVanilla">Toasted Vanilla</label>
            </div>
        </div>

        <select name="milk" id="">
            <option value="n/a">--Milk--</option>
            <option value="2%">2% Milk</option>
            <option value="Whole">Whole Milk</option>
            <option value="Half & Half">Half & Half</option>
            <option value="Coconut">Coconut Milk</option>
            <option value="Soy">Soy</option>
            <option value="Oat">Oat</option>
            <option value="Almond">Almond</option>
            <option value="none">None</option>
        </select>

        <select name="temperature" id="">
            <option value="n/a">--Temp--</option>
            <option value="hot">hot</option>
            <option value="iced">iced</option>
        </select>
        <button id="submit">Submit</button>
    </form>

    <a href="/index" class="btn btn-default mx-2"><span class="fa fa-user"></span>Barista?</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>
